C/first.exe
C/first
C/Basic_Programs/first.exe
C/Basic_Programs/first
C++/abc
C++/abc
C/Project/3_NumberGuessingGame.c
C++/abc
C++/abc
C/Basic_Programs/a.exe
C/Basic_Programs/Area_and_per_of_a_circle.exe
C/try.exe
C/try
Python/33_Pandas/my_env
Development/Tailwind
C/meow.exe
C++/DSA/01_Basic.exe
C/Basic_Programs/Area_and_per_of_a_circle
C++/CollegePrac/*.exe
C++/bisector
C++/DSA/problems/*.exe
C++/new
C++/new1
C++/DSA/problems/Sayantan_231001001275
.DS_Store
C/Arrays/a.out
C/Arrays/abc
C/Arrays/abc.exe
C/Arrays/new
*.o
*.exe
*.dSYM
build/
bin/
core
*.tmp
.vscode/
.idea/