





#IN-AN{
    fill: rgb(35,65,155);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-AP{
    fill: rgb(35,65,155);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-AR{
    fill: rgb(247,148,29);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-AS{
    fill: rgb(39,170,225);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-BR{
    fill: rgb(35,64,155);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-CH{
    fill: rgb(237,27,36);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-CT{
    fill: rgb(237,27,36);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-DD{
    fill: rgb(157,44,73);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-DL{
    fill: rgb(237,27,36);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-DN{
    fill: rgb(30,67,168);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-GA{
    fill: rgb(234,28,36);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-GJ{
    fill: rgb(127,62,152);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-HP{
    fill: rgb(127,62,152);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-HR{
    fill: rgb(247,148,29);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-JH{
    fill: rgb(247,148,29);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-JK{
    fill: rgb(35,64,155);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-JH{
    fill: rgb(247,148,29);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-KA{
    fill: rgb(39,170,226);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-KL{
    fill: rgb(127,62,152);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-LD{
    fill: rgb(35,65,155);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}



#IN-MH{
    fill: rgb(243,101,35);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-ML{
    fill: rgb(239,43,125);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-MN{
    fill: rgb(127,62,152);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-MP{
    fill: rgb(2,160,75);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-MZ{
    fill: rgb(35,64,155);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-NL{
    fill: rgb(0,160,74);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-OR{
    fill: rgb(127,62,152);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-PB{
    fill: rgb(2,160,75);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-PY{
    fill: rgb(237,27,36);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-RJ{
    fill: rgb(239,43,125);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-SK{
    fill: rgb(233,24,32);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-TG{
    fill: rgb(255,174,66);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-TN{
    fill: rgb(2,160,75);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-TR{
    fill: rgb(243,101,35);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-UP{
    fill: rgb(39,170,225);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-UT{
    fill: rgb(237,27,36);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-WB{
    fill: rgb(2,160,75);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}
