* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}
#svg {
  /* width: 611.86px; */
  width: 611.86px;
  display: block;
  margin: 10% auto;
  /* transform: scale(1.20289); */
}


#MapDiv {
  /* width: 1000px;
  height: 1000px; */
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.MapDiv :hover {
  fill: aqua;
}
.MapDiv path {
  fill: rgb(224, 101, 101);
  stroke: rgb(247, 247, 247);
  stroke-width: 0.831332px;
  
  /* data-stroke-width = "1"; */
}
