/* Notes - 
boarder line mota -- done
coloring alada for states from google -- done
hover color matching -- waiting as hover not working
ekta rajyer transform ektu lekha r ekta ba duto chobi -- waiting as hover not working
*/






/* #IN-AN{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-AP{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-AR{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-AS{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-BR{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-CH{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-CT{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-DD{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-DL{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-DN{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-GA{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-GJ{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-HP{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-HR{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-JH{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-JK{
    fill: rgb(35,64,155);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-JH{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-KA{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-KL{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-LD{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-KL{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-MH{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-ML{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-MH{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-MN{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-MP{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-MZ{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-NL{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-OR{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-PB{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-PY{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-RJ{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-SK{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-TG{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-TN{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-TR{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-UP{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-UT{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
}


#IN-WB{
    fill: rgb(224, 101, 101);
          stroke: rgb(247, 247, 247);
          stroke-width: 1px;
} */

/* 
#MapDiv:hover{
    fill: rgb(69, 202, 42);
} */